/* CALENDAR */

.fc-event {
    background-color: #356a20;
    border: 0;
    padding: 3px;
    margin-bottom: 1px;
}

.fc-unthemed td.fc-today {
    color: #fdb813;
    background-color: #fff2ce;
}

/* EVENT FEED */

.block-veracross-upcoming-events {
    width: 80%;
    margin: 1rem auto;
    color: #356a20;
    max-width: 500px;
    border: 2px solid #ffd561;
    background-color: #fff2ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: bold;
}

.block-veracross-upcoming-events h2 {
    color: #fdb813;
}

.block-veracross-upcoming-events .date-time {
    color: #fdb813;
    margin-right: 0.5rem;
}

.block-veracross-upcoming-events .links{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.veracross-upcoming-event {
    margin-bottom: 0.5rem;
}

/* EVENT FEED IN MENU SIDEBAR SECOND */

.region-sidebar-second .block-veracross-upcoming-events {
    width: 100%;
    margin: 0;
    color: white;
    min-width: 0;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-weight: bold;
}

.region-sidebar-second .block-veracross-upcoming-events h2,
.region-sidebar-second .block-veracross-upcoming-events .date-time {
    color: white;
}

.region-sidebar-second .veracross-upcoming-event {
    margin-bottom: 1rem;
}

.region-sidebar-second .link-header {
    border: 1px solid white;
    font-weight: normal;
    opacity: 0.6;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.region-sidebar-second .extra-links a {
    margin-right: 1rem;
    margin-left: 1rem;
}

.region-sidebar-second .extra-links a:first-of-type {
    margin-left: 0;
}

.region-sidebar-second .extra-links a:last-of-type {
    margin-right: 0;
}

/* EVENT FEED IN MYOVERLAKE DASHBOARD For ALUM PORTAL */

.dashboard .block-veracross-upcoming-events {
    width: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem .5rem;
    font-weight: bold;
}

.dashboard #block-veracrossupcomingevents-alumni-savethedate {
    background-color: #fff2ce;
}


@media only screen and (max-width: 25em) {

    #veracross-upcoming-events {
        padding: 0 1rem 1rem 1rem;
    }

}